<html>
	<head>
		<title>
			diabaetic-classifier
		</title>
<style>
.p1{
	font-size:15pt;
	color:white;
}
.z{
	background:black;
	text-align:center;
}
</style>

	</head>

	<body class="z">
		<form action="/submit" method="post" class="p1" >
			<label>enter number of pregnancies</label>
			<input type="integer" name="preg">
			<br>
			<label>enter glucose</label>
			<input type="integer" name="gluco">
			<br>
			<label>enter blood pressure</label>
			<input type="integer" name="blood">
			<br>
			<label> enter skin thickness</label>
			<input type="integer" name="skin">
			<br>
			<label>enter insulin</label>
			<input type="integer" name="insulin">
			<br>
			<label>enter BMI </label>
			<input type="integer" name="BMI">
			<br>
			<label> enter diabetes pedigree function</label>
			<input type="integer" name="pdf">
			<br>
			<label> enter Age</label>
			<input type="integer" name="age">
			<br>
			<button type="submit"> click</button>
		</form>
	</body>
</html>

